[Desktop Entry]
Type=Application
Name=GNOME Settings Daemon's org.gnome.SettingsDaemon.Rfkill replacement plugin
Exec=/usr/local/libexec/gsd-dummy --dummy-name=org.gnome.SettingsDaemon.Rfkill
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
